<h3><i class="fa fa-book-reader"></i> SoJournal</h3>
<div class="section">
  <p class="lead">Write public and private journal entries</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="waves-effect waves-light cyan btn">
      <i class="fab fa-google left"></i> Log In with Google
    </a>
  </div>